  body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image : linear-gradient(#00d5ff,#0095ff,rgba(93,0,255,.555));
  margin: 0;
}

.App {
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.landing-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  height: 400px; 
  box-shadow: 0 10px 10px ;
}
#ani{
animation: graph 0.5s linear infinite;
}
@keyframes graph{
  0%{color: red;}
  25%{color: aqua;}
  50%{color: darkblue;}
  75%{color: limegreen;}
  100%{color: red;}
}

.start-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.start-btn:hover {
  opacity: 0.8;
}

.quiz-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  
}

.options {
  margin: 20px 0;
}

.option-btn {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.option-btn.selected {
  background-color: #4CAF50;
  color: white;
}

.option-btn:hover {
  background-color: #ddd;
}

.next-btn {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  font-size: 18px;
}
h2{
  color: #1976D2;
  font-size: 40px;
}
.next-btn:hover {
  background-color: #1976D2;
}